* {
  font-family: 'Roboto',sans-serif;
  font-size: 4vmin;
  box-sizing: border-box;
  margin: 0 0;
  padding: 0 0;
}

html {
  --scrollbarBG: #E8E8E8;
  --thumbBG: #005B96;
}

body {
  background: #E8E8E8;
}

body .card {
  height: 100vh;
  width: 100vw;
  background-color: #E8E8E8;
}

body .card #header {
  height: 10%;
  background: #005B96;
  padding: 0;
}

body .card #header img 
{
  height: 80%;
  margin-left: 10px;
  margin-top: 5px;

}

body .card #message-section::-webkit-scrollbar {
  width: 1vmin;
}

body .card #message-section {
  height: 80%;
  padding: 0 2.5vmin;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: var(--thumbBG) var(--scrollbarBG);
}

body .card #message-section::-webkit-scrollbar-track {
  background: var(--scrollbarBG);
}

body .card #message-section::-webkit-scrollbar-thumb {
  background-color: var(--thumbBG);
  border-radius: 0.6vmin;
  border: 0.3vmin solid var(--scrollbarBG);
}

body .card #message-section #bot,
body .card #message-section #user {
  position: relative;
  bottom: 0;
  min-height: 1.5vmin;
  border: 0.15vmin solid #FFFFFF;
  background-color: #FFFFFF;
  border-radius: 0 1.5vmin 1.5vmin 1.8vmin;
  padding: 1vmin;
  margin: 1.5vmin 0;
}

body .card #message-section #user {
  border: 1.5px solid #2E404D;
  border-radius: 1.5vmin 0 1.5vmin 1.8vmin;
  background-color: #2E404D;
  float: right;
}

body .card #message-section #user #user-response {
  color: #fff;
}

body .card #message-section .message {
  color: #070F26;
  clear: both;
  line-height: 5vmin;
  font-size: 3vmin;
   /* Ajusta este valor para reducir el padding */
  margin: 0.5vmin 0; /* Ajusta este valor para reducir el margin */
  position: relative;
  max-width: 100%;
  word-wrap: break-word;
  z-index: 2;
}

body .card #input-section {
  z-index: 1;
  padding: 0 2.5vmin;
  display: flex;
  flex-direction: row;
  align-items: center;
  overflow: hidden;
  height: 10%;
  width: 100%;
}

body .card #input-section input {
  color: #070F26;
  min-width: 0.5vmin;
  outline: none;
  height: 7vmin;
  width: 99%;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: solid #070F26 0.2vmin;
}

body .card .send {
  
  background-color:#005B96 ;
  border-radius: 50%;
  border: 0;
  cursor: pointer;
  flex: 0 0 auto;
  margin-left: 2.5vmin;

  position: relative;
  outline: none;

}

body .card .mic {
  
  background-color:#005B96 ;
  border-radius: 50%;
  border: 0;
  cursor: pointer;
  flex: 0 0 auto;
  margin-left: 2.5vmin;

  position: relative;
  outline: none;

}

body .card .send .circle {
  position: relative;
  width: 7.5vmin;
  height: 7.5vmin;
  display: flex;
  align-items: center;
  justify-content: center;
}

body .card .mic .circle {
  position: relative;
  width: 7.5vmin;
  height: 7.5vmin;
  display: flex;
  align-items: center;
  justify-content: center;
}

body .card .send .circle i {
  color: #E8E8E8;
  font-size: 3vmin;
}

body .card .mic .circle i {
  color: #E8E8E8;
  font-size: 3vmin;
}

#thinking-indicator {
  display: none;
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: #fff;
  border: 0.1vmin solid #fff;
  padding: 1vmin;
}