* {
  font-size: 4vmin;
  font-family: "Epilogue", sans-serif;
}

html {
  --scrollbarBG: #fff;
  --thumbBG: #90a4ae;
}

body {
  background: #ffffff;
}

body .card {
  height: 100%;
  width: 99%;
  background-color: white;
}

body .card #header {
  height: 5%;
  background: #000;
  padding: 0;
}

body .card #header h1 {
  color: #fff;
  font-size: 5vmin;
  padding: 3vmin;
}

body .card #message-section::-webkit-scrollbar {
  width: 1vmin;
}

body .card #message-section {
  height: 500px;
  padding: 0 2.5vmin;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: var(--thumbBG) var(--scrollbarBG);
}

body .card #message-section::-webkit-scrollbar-track {
  background: var(--scrollbarBG);
}

body .card #message-section::-webkit-scrollbar-thumb {
  background-color: var(--thumbBG);
  border-radius: 0.6vmin;
  border: 0.3vmin solid var(--scrollbarBG);
}

body .card #message-section #bot,
body .card #message-section #user {
  position: relative;
  bottom: 0;
  min-height: 1.5vmin;
  border: 0.15vmin solid #777;
  background-color: #fff;
  border-radius: 0 1.5vmin 1.5vmin 1.8vmin;
  padding: 1vmin;
  margin: 1.5vmin 0;
}

body .card #message-section #user {
  border: 1.5px solid #000;
  border-radius: 1.5vmin 0 1.5vmin 1.8vmin;
  background-color: #000;
  float: right;
}

body .card #message-section #user #user-response {
  color: #fff;
}

body .card #message-section .message {
  color: #000;
  clear: both;
  line-height: 5vmin;
  font-size: 3vmin;
   /* Ajusta este valor para reducir el padding */
  margin: 0.5vmin 0; /* Ajusta este valor para reducir el margin */
  position: relative;
  max-width: 85%;
  word-wrap: break-word;
  z-index: 2;
}

body .card #input-section {
  z-index: 1;
  padding: 0 2.5vmin;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  overflow: hidden;
  height: 10%;
  width: 100%;
}

body .card #input-section input {
  color: #000;
  min-width: 0.5vmin;
  outline: none;
  height: 5vmin;
  width: 99%;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: solid #000 0.1vmin;
}

body .card .send {
  background: transparent;
  border: 0;
  cursor: pointer;
  flex: 0 0 auto;
  margin-left: 1.4vmin;
  margin-right: 0;
  padding: 0;
  position: relative;
  outline: none;
}

body .card .send .circle {
  position: relative;
  width: 4.8vmin;
  height: 4.8vmin;
  display: flex;
  align-items: center;
  justify-content: center;
}

body .card .send .circle i {
  font-size: 3vmin;
  margin-left: -1vmin;
  margin-top: 1vmin;
}

#thinking-indicator {
  display: none;
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: #fff;
  border: 0.1vmin solid #ddd;
  padding: 1vmin;
}